.apresentacao {
  background: $color-two;
  box-shadow: 0 2px 4px rgba($color: $color-one, $alpha: .2);
  margin: size(60) 0;

  @include dark() {
    background: $color-six;
    box-shadow: 0 1px 3px rgba($color: $color-eight, $alpha: .5);
  }

  .container {
    @include container();
    height: size(420);
    @include display-flex($j: space-between);
    gap: 10px;

    @include mq(760) {
      justify-content: center;
    }

    .logo-imagem {
      @include mq(760) {
        display: none;
      }
    }
  }
}