.titulo {
  position: relative;
  margin-bottom: size(20);

  .titulo-main {
    font-family: $type-second;
    font-size: size(75);
    font-weight: 500;
    z-index: 2;
    position: relative;

    @include mq(1100) {
      font-size: size(50);
    }

    .dot {
      color: $color-one;
    }
  }

  .titulo-cursive {
    letter-spacing: -2px;
    z-index: 0;
    position: absolute;
    left: size(10);
    bottom: size(15);
    font-family: $type-third2;
    color: white;
    font-size: size(75);
    text-shadow:
      -2px -2px 0px rgba($color: $color-two, $alpha: .4),
      -2px 2px 0px rgba($color: $color-two, $alpha: .4),
      2px -2px 0px rgba($color: $color-two, $alpha: .4),
      2px 0px 0px rgba($color: $color-two, $alpha: .4);


    @include mq(1100) {
      font-size: size(50);
    }

    @include dark() {
      color: $color-seven;
      text-shadow:
        -2px -2px 0px rgba($color: $color-one, $alpha: .3),
        -2px 2px 0px rgba($color: $color-one, $alpha: .3),
        2px -2px 0px rgba($color: $color-one, $alpha: .3),
        2px 0px 0px rgba($color: $color-one, $alpha: .3);
    }

  }
}

.titulo-secundario {
  display: flex;
  align-items: center;
  margin-left: size(-40);
  margin-bottom: size(15);

  img {
    margin-right: size(15);
  }

  .titulo-main {
    font-size: size(32);
    font-weight: 600;
    margin-bottom: size(-15);

    .dot {
      color: $color-one;
    }
  }
}

.button-default {
  cursor: pointer;
  display: inline-block;
  padding: size(8) size(14);
  min-width: 120px;
  border-radius: 6px;
  background: rgba($color: $color-two, $alpha: .3);
  border: none;
  font-size: size(18);
  transition: .3s;

  @include dark() {
    background: rgba($color: $color-two, $alpha: .1);
  }

  &:hover {
    background-color: $color-two;

    @include dark() {
      background: $color-eight;
    }
  }
}