.creditos {
  background: $color-three;
  position: relative;

  @include dark() {
    background: $color-six;
  }

  .container {
    @include container();
    min-height: size(150);
    padding-top: size(30);
    padding-bottom: size(30);
    display: flex;
    align-items: center;

    .content-titulo {
      position: absolute;
      top: size(-42);
    }

    .conteudo {
      display: grid;
      grid-template-columns: 3fr 2fr;
      align-items: center;
      width: 100%;

      @include mq(600){
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

      .text {
        display: flex;
        font-size: size(18);
        padding-right: 20px;
        width: 100%;

        @include mq(600){
          padding-right: 0;
          margin-bottom: size(15);
          font-size: size(16);
        }

      }

      .conteudo-links{
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .link {
        font-size: size(15);
        line-height: size(25);
        text-align: end;

        @include mq(600){
          text-align: start;
        }

        a {
          text-decoration: underline;
          transition: .3s;

          &:hover {
            color: $color-one;
          }
        }
      }
    }
  }
}