.formacao {
  background: $color-two;
  padding: size(90) 0;
  margin-bottom: size(100);
  position: relative;

  @include dark() {
    background: $color-six;
  }

  .titulo-cursive {
    @include dark() {

      @include mediaq(1000, min) {
        color: $color-six !important;
      }
    }
  }

  .container {
    @include container();
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;

    @include mediaq(1000) {
      display: flex;
    }

    .content-text {
      @include mediaq(1000) {
        position: absolute;
        top: size(-35);
      }
    }

    .content {
      @include display-flex($j: flex-end);
      gap: 60px;
      width: 100%;

      @include mediaq(1000) {
        justify-content: space-evenly;
      }

      @include mediaq(760) {
        flex-direction: column;
      }

      .box-formacao {
        padding: size(30);
        background: white;
        border-radius: 6px;
        max-width: size(270);
        height: size(270);
        display: grid;
        grid-template-rows: 1fr 3fr 1fr 1fr;

        @include dark() {
          background: $color-seven;
        }
      }

      .box-text-01 {
        @include fontSize(16);
      }

      .box-text-02 {
        @include fontSize(28);
        font-weight: 500;
      }

      .box-text-03 {
        @include fontSize(13);
      }

      .box-text-04 {
        @include fontSize(14);
        align-self: flex-end;
      }
    }
  }
}