.header {
  background: $color-two;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0 1px 3px rgba($color: #8A2020, $alpha: .1);

  .container {
    @include container();
    height: size(60);
    display: flex;
    justify-content: space-between;
    align-items: center;


    .btn-menu {
      background: none;
      border: none;
      transition: .3s;
      cursor: pointer;
      
      &.active {
        transform: rotate(90deg);
      }

    }

    .logo-name {
      font-family: $type-second;
      font-size: size(20);
      font-weight: 600;
      letter-spacing: .5px;
      padding: size(10) 0;

      span {
        color: $color-one;
      }
    }

    .navegacao {
      &.nav-mobile {
        display: none;
        background: $color-four;
        border-radius: 6px;
        padding: size(5) size(20);
        position: absolute;
        top: 55px;
        right: 20px;
        box-shadow: 0 1px 2px rgba($color: $color-one, $alpha: .3);

        ul {
          flex-direction: column;

          .nav-item {
            padding: size(10) 0;
            border-bottom: 1px solid rgba($color: $color-three, $alpha: .5);


            &:last-child {
              border: none;
            }

            a {
              display: grid;
              grid-template-columns: 35px 1fr;
              align-items: center;

            }
          }
        }
      }

      &.active {
        display: block;
      }


      ul {
        display: flex;

        .nav-item {
          padding-left: size(40);
          font-size: size(17);


          &::after {
            content: '';
            background: $color-one;
            display: block;
            width: 0;
            height: 2px;
            transition: .3s;

            @include mq(760) {
              display: none;
            }
          }

          &:hover {
            &::after {
              width: 100%;
            }
          }

          a {
            padding: size(10) 0;

            @include mq(760){
              padding: size(5) 0;
            }
          }
        }
      }
    }
  }
}