.projetos {
  @include container();
  margin-bottom: size(80);

  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: size(50);
    gap: 10px;

    @include mq(760) {
      flex-direction: column;
      align-items: center;
    }
  }

  .content-btn {
    display: flex;
    justify-content: center;

    .button {
      display: inline-block;
      padding: size(10) size(20);
      border-radius: 6px;
      background: rgba($color: $color-two, $alpha: .3);
      border: none;
      font-size: size(18);
      transition: .3s;

      &:hover {
        background-color: $color-two;
      }
    }
  }

}

.item-projeto {
  width: fit-content;
  margin-bottom: size(20);


  .box {
    position: relative;
  }

  img {
    border: 10px solid rgba($color: $color-two, $alpha: .3);
    border-radius: 6px;
    margin-bottom: size(8);
  }

  .title {
    text-align: center;
    font-size: size(18);
    line-height: size(22);
  }

  .text-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 10px solid rgba($color: $color-two, $alpha: .3);
    border-radius: 6px;
    padding: size(10);

    .text-links {
      margin-bottom: size(30);
      text-align: center;
    }

    .links-projetos {
      display: flex;
      gap: 20px;
    }

    a {
      padding: size(7) size(10);
      background: $color-two;
      border-radius: 6px;
      transition: .3s;
      cursor: pointer;

      &:hover {
        background: $color-three;
      }
    }
  }

  &:hover {

    img {
      -webkit-backface-visibility: visible !important;
      backface-visibility: visible !important;
      -webkit-animation-name: flipOutY;
      animation-name: flipOutY;
      -webkit-animation-duration: .4s;
      animation-duration: .4s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    .text-hover {
      -webkit-backface-visibility: visible !important;
      backface-visibility: visible !important;
      -webkit-animation-name: flipOutYOposto;
      animation-name: flipOutYOposto;
      -webkit-animation-duration: .8s;
      animation-duration: .8s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }

}


//**************** Animações


@keyframes flipOutY {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0);
    transform: rotate3d(0, 1, 0, 0);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}



@keyframes flipOutYOposto {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
    transform: rotate3d(0, 1, 0, -90deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotate3d(0, 1, 0, 0);
    transform: rotate3d(0, 1, 0, 0);
    opacity: 1;
  }
}