.header {
  background: $color-two;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0 1px 3px rgba($color: $color-one, $alpha: 0.1);

  @include dark() {
    background: $color-six;
    box-shadow: 0 1px 3px rgba($color: $color-eight, $alpha: 0.5);
  }

  .container {
    @include container();
    height: size(60);
    @include display-flex($j: space-between);

    .logo-darkmode {
      @include display-flex();
    }

    .btn-menu {
      background: none;
      border: none;
      transition: 0.3s;
      cursor: pointer;

      &.active {
        transform: rotate(90deg);
      }
    }

    .logo-name {
      font-family: $type-second;
      @include fontSize(20);
      font-weight: 600;
      padding: size(10) 0;
      margin-right: size(10);

      span {
        color: $color-one;
      }
    }

    .navegacao {
      &.nav-mobile {
        display: none;
        background: $color-four;
        border-radius: 6px;
        padding: size(5) size(20);
        position: absolute;
        top: 55px;
        right: 20px;
        box-shadow: 0 1px 2px rgba($color: $color-one, $alpha: 0.3);

        @include dark() {
          background: $color-nine;
          box-shadow: 0 1px 2px rgba($color: $color-six, $alpha: 0.8);
        }

        ul {
          flex-direction: column;

          .nav-item {
            padding: size(10) 0;
            border-bottom: 1px solid rgba($color: $color-three, $alpha: 0.5);

            @include dark() {
              background: $color-nine;
              border-bottom: 1px solid rgba($color: $color-six, $alpha: 0.7);

              &:last-child {
                border: none;
              }
            }

            &:last-child {
              border: none;
            }

            a {
              display: grid;
              grid-template-columns: 35px 1fr;
              align-items: center;
            }
          }
        }
      }

      &.active {
        display: block;
      }

      ul {
        display: flex;

        .nav-item {
          padding-left: size(40);
          @include fontSize(17);

          @include mediaq(900) {
            padding-left: size(30);
          }

          &::after {
            content: "";
            background: $color-one;
            display: block;
            width: 0;
            height: 2px;
            transition: 0.3s;

            @include mediaq(760) {
              display: none;
            }
          }

          &:hover {
            &::after {
              width: 100%;
            }
          }

          a {
            padding: size(10) 0;

            @include mediaq(760) {
              padding: size(5) 0;
            }
          }
        }
      }
    }
  }

  .btn-dakr-mode {
    cursor: pointer;
    background: none;
    border: 2px solid $color-three;
    border-radius: 20px;
    width: size(80);
    height: size(40);
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include dark() {
      border: 2px solid $color-eight;
    }

    span {
      content: "";
      width: size(36);
      height: size(36);
      background: $color-three;
      border-radius: 100%;
      @include display-flex();

      @include dark() {
        background: $color-eight;
      }
    }

    &.ativo span {
      grid-column: 2/3;
      justify-self: flex-end;
      -webkit-animation-name: toRight;
      animation-name: toRight;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    &.inativo span {
      grid-column: 1/2;
      -webkit-animation-name: toLeft;
      animation-name: toLeft;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    &:hover {
      background: rgba($color: $color-three, $alpha: 0.4);

      @include dark() {
        background: rgba($color: $color-eight, $alpha: 0.4);
      }
    }

    @keyframes toRight {
      0% {
        -webkit-transform: translate3d(-40px, 0, 0);
        transform: translate3d(-40px, 0, 0);
        opacity: 0;
      }

      100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }

    @keyframes toLeft {
      0% {
        -webkit-transform: translate3d(40px, 0, 0);
        transform: translate3d(40px, 0, 0);
        opacity: 0;
      }

      100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }
}
