.formacao {
  background: $color-two;
  padding: size(90) 0;
  margin-bottom: size(100);
  position: relative;

  @include dark() {
    background: $color-six;
  }

  .titulo-cursive {
    @include dark() {
    
      @include mq(1000, min){
        color: $color-six !important;
      }
    }
  }

  .container {
    @include container();
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;

    @include mq(1000) {
      display: flex;
    }

    .content-text {
      @include mq(1000) {
        position: absolute;
        top: size(-40);
      }
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 60px;
      width: 100%;

      @include mq(1000) {
        justify-content: space-evenly;
      }

      @include mq(760) {
        flex-direction: column;
      }

      .box-formacao {
        padding: size(30);
        background: white;
        border-radius: 6px;
        max-width: size(270);
        height: size(270);
        display: grid;
        grid-template-rows: 1fr 3fr 1fr 1fr;

        @include dark() {
          background: $color-seven;
        }
      }

      .box-text-01 {
        font-size: size(16);
        line-height: size(28);
      }

      .box-text-02 {
        font-size: size(20);
        line-height: size(28);
        font-weight: 500;
      }

      .box-text-03 {
        font-size: size(13);
        line-height: size(23);
      }

      .box-text-04 {
        font-size: size(14);
        line-height: size(18);
        align-self: flex-end;
      }
    }
  }
}