.projetos {
  @include container();
  margin-bottom: size(80);

  .text-inicial {
    @include fontSize(18);
    margin: size(20) 0 size(30) 0;

    a {
      color: $color-one;
      font-weight: 600;

      @include dark() {
        color: $color-three;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .content {
    @include display-flex($a: flex-start, $j: space-between);
    margin-bottom: size(50);
    flex-wrap: wrap;
    gap: 10px;

    @include mediaq(1000) {
      justify-content: center;
      gap: 30px;
    }

    @include mediaq(760) {
      flex-direction: column;
      align-items: center;
    }
  }

  .content-btn {
    @include display-flex();
  }

}

.item-projeto {
  width: fit-content;
  margin-bottom: size(20);

  .container-btn-slide {
    @include display-flex();
    gap: 20px;
    margin: size(10) 0;

    .btn-slide {
      @include display-flex();
      background: $color-three;
      border: none;
      border-radius: 100%;
      padding: size(8);
      cursor: pointer;

      &:disabled {
        opacity: .4;
        cursor: initial;
      }
    }
  }


  .box {
    position: relative;
    width: 310px;
    height: 250px;
    margin-bottom: size(8);
  }

  img {
    border: 10px solid rgba($color: $color-two, $alpha: .3);
    border-radius: 6px;

  }

  .title {
    text-align: center;
    @include fontSize(18);
  }

  .text-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    @include display-flex($f: column);
    border: 10px solid rgba($color: $color-two, $alpha: .3);
    border-radius: 6px;
    padding: size(10);

    @include mediaq(760) {
      opacity: 1;
    }

    .text-links {
      margin-bottom: size(30);
      text-align: center;
    }

    .links-projetos {
      display: flex;
      gap: 20px;
    }
  }

  &:hover {

    img {
      -webkit-backface-visibility: visible !important;
      backface-visibility: visible !important;
      -webkit-animation-name: flipOutY;
      animation-name: flipOutY;
      -webkit-animation-duration: .4s;
      animation-duration: .4s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;

      @include mediaq(760) {
        animation-name: none;
      }
    }

    .text-hover {
      -webkit-backface-visibility: visible !important;
      backface-visibility: visible !important;
      -webkit-animation-name: flipOutYOposto;
      animation-name: flipOutYOposto;
      -webkit-animation-duration: .8s;
      animation-duration: .8s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;

      @include mediaq(760) {
        animation-name: none;
      }
    }
  }

}


//**************** Animações


@keyframes flipOutY {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0);
    transform: rotate3d(0, 1, 0, 0);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}



@keyframes flipOutYOposto {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
    transform: rotate3d(0, 1, 0, -90deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotate3d(0, 1, 0, 0);
    transform: rotate3d(0, 1, 0, 0);
    opacity: 1;
  }
}