.sobre {
  @include container();
  margin-bottom: size(100);

  .title-image {
    @include display-flex($j: flex-start);

    .avatar-pequeno {
      border-radius: 100%;
      width: 70px;
      margin: 0 0 size(20) size(20);
    }
  }


  .content-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: size(40);

    @include mediaq(760) {
      grid-template-columns: 1fr;
    }

    .box {
      background: rgba($color: $color-two, $alpha: .3);
      border-radius: 6px;
      padding: size(30);
      @include fontSize(18);

      @include dark() {
        background: rgba($color: $color-two, $alpha: .1);
      }

      @include mediaq(760) {
        @include fontSize(17);
      }

      .destaque {
        font-weight: 600;
        color: $color-one;

        @include dark() {
          color: $color-three;
        }
      }

      li {
        list-style: circle;
        margin: 0 0 size(10) size(20);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .avatar {
      border-radius: 6px;
    }
  }

  .container-btn-curiosidades {
    @include display-flex();
    grid-column: 1/-1;
    margin-bottom: size(30);

    @include mediaq(600) {
      flex-direction: column;

    }

    .text-btn {
      @include fontSize(17);
      margin-right: size(10);
      text-align: center;

      @include mediaq(600) {
        margin-right: 0;
        margin-bottom: size(10);
      }
    }
  }


  .curiosidades {
    grid-column: 1/-1;

    .content-curiosidades {
      margin: 0 0 size(90) size(62);

      .text {
        @include fontSize(18);
        margin-bottom: size(20);

        a {
          color: $color-one;
          font-weight: 600;

          @include dark() {
            color: $color-three;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .container-layout {
        @include display-flex();
        flex-direction: column;
        margin-bottom: size(30);
      }

      .img-layout {
        border: 10px solid rgba($color: $color-two, $alpha: .3);
        border-radius: 6px;
        margin-bottom: size(8);
        transition: .3s;

        @include dark() {
          background: rgba($color: $color-two, $alpha: .1);
        }

        &:hover {
          opacity: .8;

          @include dark() {
            opacity: .5;
          }
        }
      }
    }
  }
}