.contato {
  background: rgba($color: $color-two, $alpha: .3);
  position: relative;

  @include dark() {
    background: rgba($color: $color-eight, $alpha: .4);
  }

  .container {
    @include container();
    min-height: size(360);
    padding-top: size(80);
    padding-bottom: size(100);
    @include display-flex($j: flex-start);


    .content-titulo {
      position: absolute;
      top: size(-42);
    }

    .conteudo {
      @include display-flex($j: space-between);
      width: 100%;

      @include mq(760) {
        flex-direction: column;
      }

      .text {
        @include display-flex($j: initial);
        @include fontSize(28);
        max-width: size(330);


        @include mq(1000) {
          @include fontSize(20);
          max-width: size(200);
        }

        @include mq(760) {
          max-width: none;
          text-align: center;
          margin-bottom: size(40);
        }
      }

      .links {
        @include display-flex();
        gap: 20px;
        flex-wrap: wrap;

        a {
          transition: .3s;

          &:hover {
            transform: scale(1.06);
          }
        }
      }
    }
  }
}