.contato {
  background: rgba($color: $color-two, $alpha: .3);
  position: relative;

  @include dark() {
    background: rgba($color: $color-eight, $alpha: .4);
  }

  .container {
    @include container();
    min-height: size(360);
    padding-top: size(80);
    padding-bottom: size(100);
    @include display-flex($j: flex-start);


    .content-titulo {
      position: absolute;
      top: size(-42);
    }

    .conteudo {
      @include display-flex($j: space-between);
      width: 100%;

      @include mediaq(760) {
        flex-direction: column;
      }

      .text {
        @include display-flex($j: initial);
        @include fontSize(28);
        margin-right: size(30);


        @include mediaq(1000) {
          @include fontSize(20);

        }

        @include mediaq(760) {
          max-width: none;
          text-align: center;
          margin: 0 0 size(40) 0;
        }
      }

      .links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;

        @include mediaq(400) {
          grid-template-columns: 1fr;
        }

        a {
          transition: .3s;

          &:hover {
            transform: scale(1.06);
          }
        }
      }
    }
  }
}