.titulo {
  position: relative;
  margin-bottom: size(20);

  .titulo-main {
    font-family: $type-second;
    @include fontSize(75);
    font-weight: 500;
    z-index: 2;
    position: relative;

    @include mediaq(1100) {
      @include fontSize(50);
    }

    @include mediaq(360){
      @include fontSize(40)
    }

    .dot {
      color: $color-one;
    }
  }

  .titulo-cursive {
    letter-spacing: -2px;
    z-index: 0;
    position: absolute;
    left: size(10);
    bottom: size(15);
    font-family: $type-third;
    color: white;
    @include fontSize(75);
    text-shadow:
      -2px -2px 0px rgba($color: $color-two, $alpha: .4),
      -2px 2px 0px rgba($color: $color-two, $alpha: .4),
      2px -2px 0px rgba($color: $color-two, $alpha: .4),
      2px 0px 0px rgba($color: $color-two, $alpha: .4);


    @include mediaq(1100) {
      @include fontSize(50);
    }
    
    @include mediaq(360){
      @include fontSize(40)
    }

    @include dark() {
      color: $color-seven;
      text-shadow:
        -2px -2px 0px rgba($color: $color-one, $alpha: .3),
        -2px 2px 0px rgba($color: $color-one, $alpha: .3),
        2px -2px 0px rgba($color: $color-one, $alpha: .3),
        2px 0px 0px rgba($color: $color-one, $alpha: .3);
    }
  }
}

.titulo-secundario {
  @include display-flex($j: flex-start);
  margin-left: size(-40);
  margin-bottom: size(15);

  img {
    margin-right: size(15);
  }

  .titulo-main {
    @include fontSize(32);
    font-weight: 600;
    margin-bottom: size(-15);

    .dot {
      color: $color-one;
    }
  }
}

.button-default {
  @include display-flex();
  padding: size(8) size(14);
  min-width: 120px;
  border-radius: 6px;
  background: rgba($color: $color-two, $alpha: .3);
  border: none;
  @include fontSize(18);
  transition: .3s;

  @include dark() {
    background: rgba($color: $color-two, $alpha: .1);
  }

  &:hover {
    background-color: $color-two;

    @include dark() {
      background: $color-eight;
    }
  }
}